<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homework.dao.SubjectDao">
	<resultMap id="resultMap" type="com.homework.entity.Subject">
		<id property="subId" column="sub_id"></id>
		<result property="subImg" column="sub_img"></result>
		<result property="subNo" column="sub_no"></result>
		<result property="subName" column="sub_name"></result>
		<result property="subInfo" column="sub_info"></result>
	</resultMap>
	
	<resultMap type="com.homework.entity.Section" id="sectionMap">
		<id property="secId" column="sec_id"></id>
		<result property="secName" column="sec_Name"></result>
	</resultMap>
	
	<!--获取所有科目  -->
	<select id="getAllSubject" resultMap="resultMap">
		SELECT
			s.sub_id,s.sub_img,s.sub_no,s.sub_name,s.sub_info
		FROM
			subject as s
		WHERE
		    s.is_del = 0			
	</select>
	
	<select id="getSectionBySubId" resultMap="sectionMap">
		SELECT
			s.sec_id,s.sec_name
		FROM
			section as s
		WHERE
			s.sub_id = #{subId}
		AND
			s.is_del = 0			
	</select>
	
	<insert id="addSubject">
		INSERT INTO
			subject(sub_no,sub_name,sub_img,sub_info)
		VALUES
			(#{sub.subNo},#{sub.subName},#{sub.subImg},#{sub.subInfo})		
	</insert>
	
	<update id="deleteSubject">
		UPDATE
			subject
		SET
			is_del = 1
		WHERE
			sub_id = #{subId}		
	</update>
	
	<update id="updateSubject">
		UPDATE
			subject
		SET
			sub_no = #{sub.subNo},
			sub_name = #{sub.subName},
			sub_img = #{sub.subImg},
			sub_info = #{sub.subInfo}	
		WHERE
			sub_id = #{sub.subId}	
	</update>
	
	<insert id="addSection">
		INSERT INTO
			section(sec_name,sub_id)
		VALUES
			(#{secName},#{subId})	
	</insert>
	
	<select id="getSectionByClassId" resultMap="sectionMap">
		SELECT
			s.sec_id,s.sec_name
		FROM
			section as s
		WHERE
			s.sub_id = (
			  SELECT c.sub_id FROM classes c WHERE c.id=#{classId}
			  )
	</select>
	
	
	
</mapper>    